.accomplishments {
    text-align: justify;
    margin: 6em 25% 3em 25%;
}

.accomplishments-title {
    color: var(--aboutMe);
    font-size: 16px;
    font-weight: 600;
}

.accomplishments-type {
    font-size: 32px;
    font-weight: 600;
    color: var(--aboutMe-title);
    padding-top: 1em;
}

.accomplishments-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--options-color);
    padding-top: .5em;
}