.courses {
    text-align: center;
    margin: 6em 25% 3em 25%;
}

.courses-title {
    color: var(--aboutMe-title);
    font-size: 24px;
    font-weight: 600;
    padding-top: 3em;
}


.courses-info {
    font-size: 18px;
    font-weight: 600;
    color: var(--aboutMe);
}

.courses-status {
    font-size: 16px;
    font-weight: 400;
    color: var(--options-color);
}