.job {
    text-align: center;
    margin-top: 5em;
}

.job__experience {
    font-size: 16px;
    font-weight: 600;
    color: var(--aboutMe);
}

.job__title {
    font-size: 36px;
    font-weight: 600;
    color: var(--aboutMe-title);
    margin: .5em 0;
}

.job__text {
    font-size: 20px;
    font-weight: 400;
    color: var(--options-color);
    margin-bottom: 3em;
}