.positions__translator {
    display: flex;
    flex-direction: column;
    justify-content:left;
    padding: 2em 25%;
}

.positions__translator h2 {
    margin-bottom: 2em;
}

.positions__title {
    border: 2px solid #EAECF0;
    padding: 1em .5em;
    border-radius: 10px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    color: var(--aboutMe-title);
}

.positions__title h3 {
    padding: 0 0 1em 1em;
    font-size: 18px;
    font-weight: 500;
    color: var(--aboutMe-title);
}

.positions__title p {
    display: inline-block;
    padding-left: 1em;
    font-size: 16px;
    font-weight: 500;
    color: var(--options-color);
}

.positions__title-UX {
    margin-top: 1em;
}

.positions__title-front {
    margin: 1em 0 1em 0;
}
