.header__aboutMe {
    text-align: justify;
    margin: 6em 25% 0 25%;
}

.header__aboutMe-section {
    color: var(--aboutMe);
    font-size: 16px;
    font-weight: 600;
}

.header__aboutMe-title {
    font-size: 40px;
    font-weight: 600;
    color: var(--aboutMe-title);
    padding-top: 1em;
}

.header__aboutMe-text {
    font-size: 20px;
    font-weight: 400;
    color: var(--options-color);
    padding-top: 1.5em;
}