.languages {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 5em;
    padding-left: 5em;
}

.languages__head{
    font-size: 18px;
    font-weight: 600;
    color: var(--aboutMe);
    padding-top: 3em;
    text-align: center;
}

.languages-section {
    font-size: 60px;
    color: var(--aboutMe);
    font-weight: 600;
}

.languages-title {
    color: var(--aboutMe-title);
    margin: 1em 0;
    font-size: 18px;
    font-weight: 500;
}

.languages-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--options-color);
    padding-right: 3em;
}
